webservice_netFramework/cliente/Web References/service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcessaJogos">
        <s:complexType />
      </s:element>
      <s:element name="AcessaJogosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcessaJogosResult" type="tns:ListaJogosModelView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaJogosModelView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JogoModelView" type="tns:ArrayOfJogoModelView" />
          <s:element minOccurs="0" maxOccurs="1" name="NoJogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DsJogo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoJogoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JogadoresRegistrados" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JogadoresOnline" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPromocional" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DtInicial" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DtFinal" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJogoModelView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JogoModelView" nillable="true" type="tns:JogoModelView" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JogoModelView">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JogoModelViewId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NoJogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DsJogo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoJogoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JogadoresRegistrados" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JogadoresOnline" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPromocional" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AcessaJogosSoapIn">
    <wsdl:part name="parameters" element="tns:AcessaJogos" />
  </wsdl:message>
  <wsdl:message name="AcessaJogosSoapOut">
    <wsdl:part name="parameters" element="tns:AcessaJogosResponse" />
  </wsdl:message>
  <wsdl:portType name="serviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcessaJogos">
      <wsdl:input message="tns:AcessaJogosSoapIn" />
      <wsdl:output message="tns:AcessaJogosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceSoap" type="tns:serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcessaJogos">
      <soap:operation soapAction="http://tempuri.org/AcessaJogos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceSoap12" type="tns:serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcessaJogos">
      <soap12:operation soapAction="http://tempuri.org/AcessaJogos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="serviceSoap" binding="tns:serviceSoap">
      <soap:address location="https://localhost:44308/service.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceSoap12" binding="tns:serviceSoap12">
      <soap12:address location="https://localhost:44308/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>